<nav-bar></nav-bar>
<!--<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>-->

<div class="row">
    <div class="col-xs-12">
        <div class="container-fluid">
            <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 400 }'
                 style="padding-bottom: 20px; margin-left: 20px">
                <div ng-repeat="meme in $ctrl.memes | orderBy:'-(spiciness+dankness)'">
                    <div class="grid-item col-xs-3" style="text-align: center; width: 300px">
                        <div class="panel" style="padding: 5px">
                            <!--<div class="container-fluid" style="text-align: center">-->
                            <div style="text-align: center">
                                <img class="img-responsive img-rounded" src="{{meme.image_url}}"
                                     style="max-height: 300px; display: block; margin: 0">
                            </div>
                            <!--<h3 class="">{{student.name}}</h3>-->
                            <!--<a ng-href="{{student.link}}"><h4 class="btn btn-raised"-->
                            <!--data-ng-class="{'active': $ctrl.generateTest, 'current-tab': $ctrl.generateTest}">-->
                            <!--Generate Test</h4></a>-->
                            <!--<button class="btn btn-raised btn-success" ng-click="$ctrl.removeStudent(student)">-->
                            <!--Delete-->
                            <!--</button>-->
                            <button class="btn btn-raised btn-danger" ng-click="$ctrl.upvoteSpiciness(meme)">
                                Spiciness: {{10*meme.spiciness}}
                            </button>
                            <button class="btn btn-raised btn-info" ng-click="$ctrl.upvoteDankness(meme)">
                                Dankness: {{10*meme.dankness}}
                            </button>
                            <button class="btn btn-raised btn-danger">
                                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" style="color: white">
                                    Delete Meme
                                </a>
                            </button>
                            <!--<h3 class="text-danger"></h3>-->
                            <!--<h3 class="text-info">Dankness: {{meme.dankness}}</h3>-->
                            <!--{{meme}}-->
                        </div>
                    </div>
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>
